html{
    margin: 0px;
    padding: 0px;
    body{
        background: #1e93cc;
        margin: 0px;
        padding: 0px;
        font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-align: center;
        color: white;
    }
}