@import "_nav-ul-9li.scss";

html{
    margin: 0px;
    padding: 0px;
    body{
        background: #1e93cc;
        margin: 0px;
        padding: 0px;
        font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-align: center;
        align-items: center;
        vertical-align: middle;
        color: white;
        align-items: center;
    }
}

ul{
    list-style-type: none;
}


footer {
    a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    }
}

svg{
    width: 5%;
    min-width: 12px;
    margin: 0px;
    margin-right: 5%;
}

button{
    border: solid white 2px;
    padding: 15px;
    margin: 7px;
    color: white;
    border-radius: 13px;
    height: 60px;
    &:hover{
        filter: grayscale(50%);
    }
    &.start_building{
        background-color: #e99002;
    }
    &.standard{
        background-color: #165882;
    }
}

grid{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(6, 1fr) ;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 25vh;
    margin-bottom: 150px;
    h1{
        &:nth-child(1){
            grid-area: 1 / 4 / 2 / 8;
            z-index: -2;
        }
        &:nth-child(2){
            grid-area: 2 / 4 / 3 / 8;
            font-size: 22px;
        }
        &:nth-child(4){
            grid-area: 1 / 1 / 4 / 4;
            z-index: -1;
        }
    }
    button{grid-area: 3 / 4 / 4 / 8;}
    
    h2{grid-area: 4 / 1 / 5 / 11;}
    
    last{grid-area: 6 / 1 / 7 / 11;}
}

h2{
    background-color: white;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 100;
}

ul.middle{
    display: flex;
    margin-top:10px;
    li{
        margin: 20px;
        p:first-child{
            font-size: 20px;
        }
        p:nth-child(2){
            text-align: left;
        }
    }
}

aside {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(22,88,130);
    position: fixed;
    bottom:250px;
    right:15px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: rgb(70,134,171);
    }
    button{
        background-color: transparent;
        border: none;
        padding: 0;
    }
    img {
        padding-top:5px;
        background-color: transparent;
    }
}

ul.partenaires{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    align-items: center;
}

li.partenaires{
    display: flex;
}

footer{
    display: block;
    background-color: #333333;
    width: 100%;
    margin: 0;
    font-size: 14px;
    ul{
        display: flex;
        width: 100%;
        margin:0;
        padding: 0;
        div{
            display: inline-flex;
            margin: 10px;
            width: 40%;
            li{
                margin: auto;
                width: 20%;
            }
        }
        li:last-child{
            margin: 10px;
            width: 60%;
            text-align: right;
        }
    }
}


div.end_button{
    margin-top: 0;
    background-color: #ffffff;
    height: auto;
    padding-top: 25px;
    padding-bottom: 20px; 
}

.no_bottom_maring{
    margin-bottom: 0;
}